node_modules
public/images/users/user-*
public/images/categories/category-*
public/images/products/product-*
public/images/bundles/bundle-*
public/images/banners/banner-*
public/images/sidebanners/sidebanner-*
.env
package-lock.json